In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

#Load the dataset
train_data_path = "data/train.csv"  # 替换为您的 CSV 文件路径
df = pd.read_csv(train_data_path, sep='\t')

In [6]:
df['document_word_count'] = df.apply(lambda x: len(x['document'].split()), axis=1)
# Filter lines with a total number of words less than 1024
df_filtered = df[df['document_word_count'] < 764]
df_filtered

,index,document,summary,document_word_count
0,0,by . daily mail reporter . published : . 15:34...,kayte gave birth to a ` healthy baby girl ' n...,479
5,5,"published : . 16:02 est , 16 june 2012 . | . u...",crime novelist wrote 24 bestsellers featuring...,456
6,6,by . jamie mcginnes . published : . 07:59 est ...,nearly 65 % think the democrat president woul...,590
8,8,by . daily mail reporter . published : . 15:01...,annual scouting review sees 600 youngsters ho...,670
14,14,"by . david baker . published : . 19:11 est , 2...",two men arrested in greece after police disco...,499
...,...,...,...,...
8994,8994,denmark is scrapping its tax on foods that are...,the tax was approved by a large majority in a...,658
8995,8995,thousands of gcse pupils had their english res...,grades went from a c to a d after a last-minu...,741
8996,8996,making her point : susan bassnett is emeritus ...,` universities cover up problems as they need...,488
8997,8997,two nurses at a priory hospital have been ques...,alleged victim a patient at the priory highba...,198
8998,8998,men 's and women 's brains really are differen...,researchers say that if both sexes had access...,416

In [2]:
df['total_word_count'] = df.apply(lambda x: len(x['document'].split()) + len(x['summary'].split()), axis=1)
# Filter lines with a total number of words less than 1024
df_filtered = df[df['total_word_count'] <= 1023]
df_filtered

,index,document,summary,total_word_count
0,0,by . daily mail reporter . published : . 15:34...,kayte gave birth to a ` healthy baby girl ' n...,520
2,2,"by . rob waugh . published : . 02:50 est , 15 ...",tiny unicycle has top speed of 3.7 mph . ca...,849
3,3,by . rachel rickard straus . updated : . 03:35...,dmitry rybolovlev bought central park west ho...,857
5,5,"published : . 16:02 est , 16 june 2012 . | . u...",crime novelist wrote 24 bestsellers featuring...,485
6,6,by . jamie mcginnes . published : . 07:59 est ...,nearly 65 % think the democrat president woul...,626
...,...,...,...,...
8994,8994,denmark is scrapping its tax on foods that are...,the tax was approved by a large majority in a...,722
8995,8995,thousands of gcse pupils had their english res...,grades went from a c to a d after a last-minu...,766
8996,8996,making her point : susan bassnett is emeritus ...,` universities cover up problems as they need...,516
8997,8997,two nurses at a priory hospital have been ques...,alleged victim a patient at the priory highba...,213
8998,8998,men 's and women 's brains really are differen...,researchers say that if both sexes had access...,479

In [7]:
# Split the dataset
train_df, test_df = train_test_split(df_filtered, test_size=0.2, random_state=42)
valid_df, test_df = train_test_split(test_df, test_size=0.5, random_state=42)

In [9]:
print("Training Set Size:", len(train_df))
print("Validation Set Size:", len(valid_df))
print("Test Set Size:", len(test_df))

Training Set Size: 3753
Validation Set Size: 469
Test Set Size: 470

In [10]:
# Save training set to CSV file
train_df.to_csv('train_dataset.csv', index=False, sep='\t')
# Save validation set to CSV file
valid_df.to_csv('valid_dataset.csv', index=False, sep='\t')
# Save test set to CSV file
test_df.to_csv('test_dataset.csv', index=False, sep='\t')